body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: #35577D;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

footer {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 10px;
    font-size: 14px;
}
